[submodule "plugins/ExhibitBuilder"]
	path = plugins/ExhibitBuilder
	url = https://micongrin@github.com/micongrin/plugin-ExhibitBuilder.git
[submodule "plugins/SimplePages"]
	path = plugins/SimplePages
	url = git://github.com/omeka/plugin-SimplePages
[submodule "themes/default"]
	path = themes/default
	url = git://github.com/omeka/theme-thanksroy
[submodule "themes/seasons"]
	path = themes/seasons
	url = git://github.com/omeka/theme-seasons
[submodule "plugins/Coins"]
	path = plugins/Coins
	url = git://github.com/omeka/plugin-Coins
[submodule "themes/berlin"]
	path = themes/berlin
	url = git://github.com/omeka/theme-berlin.git
[submodule "themes/grinnell"]
	path = themes/grinnell
	url = https://micongrin@github.com/DigitalGrinnell/OmekaGrinnellTheme-WMI.git
[submodule "plugins/SolrSearch"]
	path = plugins/SolrSearch
	url = https://micongrin@github.com/micongrin/plugin_SolrSearch.git
[submodule "plugins/SearchByMetadata"]
	path = plugins/SearchByMetadata
	url = https://micongrin@github.com/micongrin/plugins_SearchByMetadata.git
